.forget-password-modal {
  .modal-header {
    .close {
      display: none;
    }

    .forget-password-modal__title {
      font-size: 18px;
      color: $mainPink;
      width: 100%;
      text-align: center;
    }
    .forget-password-modal__return {
      background-color: transparent;
      border: none;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .forget-password-modal__input {
      width: 80%;
      height: 40px;
      margin: 10px auto;
      padding: 5px;
      text-align: center;
      border: 1px solid #c7c7c7;
      border-radius: 40px;
    }

    .forget-password-modal__label {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      .forget-password-modal__input {
        display: flex;
        width: 100%;
        padding: 8px 30px 8px 115px;
      }
      .forget-password-modal__send-again-code {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 18px;
        color: rgb(191, 115, 0);
        background-color: transparent;
        border: none;
      }
      .forget-password-modal__send-again-code:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        height: 70%;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.15);
      }
      .forget-password-modal__send-again-code:disabled {
        cursor: no-drop;
      }
    }

    .forget-password-modal__btn {
      width: 120px;
      height: 40px;
      border-radius: 12px;
      color: #ffffff;
      border: none;
      background: $mainBlue;
    }
  }

  .forget-password-modal__footer {
    direction: rtl;
    display: flex;
    justify-content: center;
    .forget-password-modal__link {
      font-size: 14px;
      color: #fff;
      border: none;
      background-color: $mainCyan;
      padding: 8px 10px;
      border-radius: 3px;
    }
  }
}
