.user-history-box {
  text-align: right;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: $mainBoxShadow;
  .user-history-box__header {
    .user-history-box__header__title {
      padding: 20px;
      font-size: 20px;
      color: #afafaf;
    }
  }

  .user-history-box__list-wrap {
    .user-history-box__list {
      height: 500px;
      overflow-y: scroll;
      .user-history-box__list__item {
        padding: 20px;
        // border-bottom: 1px solid #afafaf;
        // &:last-child {
        //   border-bottom: none;
        // }
        .user-history-box__list__item__box {
          @include flex-bet-r;
          align-items: flex-start;
          .user-history-box__list__item__box__items {
            .user-history-box__list__item__box__items__date {
              font-size: 14px;
              color: #afafaf;
            }

            .user-history-box__list__item__box__items__pics {
              display: flex;
              .user-history-box__list__item__box__items__pics__img {
                width: 80px;
                margin: 0 0 0 10px;
                border-bottom-right-radius: 30px;
              }
            }
          }

          .user-history-box__list__item__box__options {
            height: 130px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            .user-history-box__list__item__box__options__price {
              font-size: 16px;
              color: #afafaf;
            }

            .user-history-box__list__item__box__options__factor {
              text-align: left;
              font-size: 16px;
              color: $mainBlue;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .user-history-box__list__item__box__items__pics__img {
    width: 50px !important;
  }
}
