//mixins
@mixin flex-org {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-org-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  @mixin flex-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-bet-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  @mixin flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }