.sign-in-modal {
  .modal-header {
    .close {
      display: none;
    }

    .sign-in-modal__title {
      font-size: 18px;
      color: $mainPink;
      width: 100%;
      text-align: center;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sign-in-modal__input {
      width: 80%;
      height: 40px;
      margin: 10px auto;
      padding: 5px;
      text-align: center;
      direction: rtl;
      border: 1px solid #c7c7c7;
      border-radius: 40px;
    }

    .sign-in-modal__btn {
      width: 120px;
      height: 40px;
      border-radius: 12px;
      color: #ffffff;
      border: none;
      background: $mainBlue;
    }
  }

  .sign-in-modal__footer {
    display: flex;
    justify-content: center;
    .sign-in-modal__link {
      font-size: 14px;
      color: $mainBlue;
      border: none;
    }
  }
}
