.p-sug-box__container__item {
  margin: 15px 0;
  text-align: right;
  background: #ebebeb;
  box-shadow: $mainBoxShadow;
  .p-sug-box__container__item__book {
    position: relative;
    transition: all 300ms;
    &:hover .p-sug-box__container__item__header__icon-wrap {
      visibility: visible;
      opacity: 1;
    }

    .p-sug-box__container__item__book__pic {
      border-bottom-right-radius: 40px; // ADDME
      width: 100%;
    }

    .p-sug-box__container__item__header__icon-wrap {
      @include flex-org-r;
      position: absolute;
      bottom: 10px;
      left: 10px;
      visibility: hidden;
      opacity: 0;
      transition: all 300ms;
      .p-sug-box__container__item__header__icon {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        background: rgb(0, 142, 230);
        background: linear-gradient(
                        0deg,
                        rgba(0, 142, 230, 1) 0%,
                        rgba(0, 114, 187, 1) 50%,
                        rgba(0, 142, 230, 1) 100%
        );
        border-radius: 10px;
        @include flex-org;
        cursor: pointer;
        .p-sug-box__container__item__header__icon__img {
          width: 15px;
        }

        .p-sug-box__container__item__header__icon__img--save {
          width: 15px;
        }

        .p-sug-box__container__item__header__icon__img--bas {
          width: 20px;
        }
      }
    }
  }

  .p-sug-box__container__item__header {
    padding: 10px 5px;
    height: 62px;
    @include flex-bet-r;
    .p-sug-box__container__item__header__title {
      direction: rtl;
      font-size: 14px;
      overflow: hidden;
      //white-space: nowrap;
      text-overflow: ellipsis;
      color: #000000;
    }
  }

  .p-sug-box__container__item__details {
    padding: 0 5px;
    .p-sug-box__container__item__details__author,
    .p-sug-box__container__item__details__publisher {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #7e7e7e;
    }

    .p-sug-box__container__item__details__price {
      direction: rtl;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $mainBlue;
      padding: 10px 0;
      .p-sug-box__container__item__details__price__item {
        //flex-grow: 1;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .p-sug-box__container__item {
    .p-sug-box__container__item__book {
      .p-sug-box__container__item__book__pic {
        height: 356px;
      }
    }
  }
}

.p-hero-box__l-col__purchase__price {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  direction: rtl;
}

.p-hero-box__l-col__purchase__price--off {
  font-size: 14px;
  color: #727272;
  text-decoration: line-through;
}

.c-price__discount-oval {
  background-color: #fb3449;
  color: #fff;
  border-radius: 20px;
  padding: 4px 6px 1px;
  letter-spacing: 0;
  margin-bottom: 3px;
}