.p-hero-box {
  margin: 20px 0;
  padding: 30px;
  background: #ffffff;
  border-radius: 4px;
  // box-shadow: $mainBoxShadow;
  display: flex;
  flex-direction: row-reverse;
  position: relative;

  .p-hero-box__r-col {
    width: 30%;
    .p-hero-box__r-col__pic {
      padding: 0 15px 15px 15px;
      .p-hero-box__r-col__pic__img {
        width: 100%;
        border-bottom-right-radius: 40px;
      }
    }

    .p-hero-box__r-col__options {
      margin: 2px 0 10px 0;
      @include flex-bet;
      .p-hero-box__r-col__options-row {
        padding: 0 15px;
      }

      .p-hero-box__r-col__options-row > div {
        padding: 0 8px 0 8px !important;
      }

      .p-hero-box__r-col__options__box {
        width: 50px;
        height: 50px;
        margin: 7px 0;
        border-radius: 10px;
        background: #b3b3b3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        .p-hero-box__r-col__options__box__icon {
          width: 20px;
        }

        .p-hero-box__r-col__options__box__rate {
          text-align: center;
          font-size: 14px;
          color: #ffffff;
        }

        .p-hero-box__r-col__options__box__src {
          text-align: center;
          font-size: 8px;
          color: #ffffff;
        }
      }
    }
  }

  .p-hero-box__l-col__info {
    width: 100%; // ADDME
    text-align: right;
    .p-hero-box__l-col__info_name {
      color: $mainBlue;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .p-hero-box__l-col__info_name--eng {
      font-size: 16px;
      color: #aaaaaa;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .p-hero-box__l-col__info__author,
    .p-hero-box__l-col__info__translator,
    .p-hero-box__l-col__info__publisher {
      font-size: 16px;
    }

    .p-hero-box__l-col__info__about {
      margin-top: 20px;
      font-size: 14px;
      color: #727272;
      text-align: justify;
      direction: rtl;
    }
  }

  .p-hero-box__l-col__purchase {
    text-align: right;
    display: flex;
    .p-hero-box__l-col__purchase-wrap {
      margin: 35px 0 15px 0;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
    }

    .p-hero-box__l-col__purchase__price {
      font-size: 18px;
      font-weight: bold;
      color: #000000;
      direction: rtl;
    }

    .p-hero-box__l-col__purchase__price--off {
      font-size: 14px;
      color: #727272;
      text-decoration: line-through;
    }

    .p-hero-box__l-col__purchase__buy {
      height: 50px;
      @include flex-bet-r;
      margin-left: auto;
      background: $mainBlue;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      box-shadow: $mainBoxShadow;
      .p-hero-box__l-col__purchase__buy__title {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        font-size: 16px;
        border-left: 1px solid #ffffff60;
      }

      .p-hero-box__l-col__purchase__buy__icon {
        width: 50px;
        padding: 0 10px;
      }
    }
  }

  .p-hero-box__l-col {
    width: 70%;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .p-hero-box__rect {
    position: absolute;
    bottom: 0;
  }
}

.p-hero-box__r-col__options-row {
  flex-direction: row-reverse;
}

.p-hero-box--res {
  display: none;
}

.p-hero-box-wrap-fade {
  width: 100%;
  height: 50px;
  margin-bottom: -35px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
                  0deg,
                  rgba(255, 255, 255, 1) 50%,
                  rgba(239, 239, 239, 1) 100%
  );
}

.p-hero-box__l-col__info__details {
  display: flex;
  justify-content: flex-end;
  .p-hero-box__l-col__info__details-wrap {
    width: 50%;
    text-align: right;
  }
}

.product-hero-more-btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #efefef;
  box-shadow: $mainBoxShadow;
  color: $mainCyan;
}

@media only screen and (max-width: 900px) {
  .p-hero-box-wrap-fade {
    display: none;
  }

  .p-hero-box {
    margin-top: 180px;
    box-shadow: $mainBoxShadow;
  }

  .p-hero-box--desktop {
    display: none;
  }

  .p-hero-box--res {
    display: block;
  }

  .p-hero-box__r-col,
  .p-hero-box__l-col {
    width: 100% !important;
  }

  .p-hero-box {
    flex-direction: column;
  }

  .p-hero-box .p-hero-box__l-col {
    margin-right: 0;
  }

  .p-hero-box .p-hero-box__l-col__purchase .p-hero-box__l-col__purchase__buy {
    margin-bottom: 50px;
  }

  .p-hero-box__r-col__options-row {
    flex-direction: column;
  }

  .p-hero-box__r-col__options {
    width: 100%;
    margin: 15px 0;
    @include flex-bet;
    .p-hero-box__r-col__options__box {
      width: 50px;
      height: 50px;
      margin: 5px 0;
      border-radius: 10px;
      background: #b3b3b3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      .p-hero-box__r-col__options__box__icon {
        width: 20px;
      }

      .p-hero-box__r-col__options__box__rate {
        text-align: center;
        font-size: 14px;
        color: #ffffff;
      }

      .p-hero-box__r-col__options__box__src {
        text-align: center;
        font-size: 8px;
        color: #ffffff;
      }
    }
  }

  .p-hero-box__l-col__info_name {
    padding: 20px 0;
    border-bottom: 1px solid #c7c7c7;
    text-align: center;
  }

  .p-hero-box__l-col__info__about {
    padding: 20px 0;
    border-bottom: 1px solid #c7c7c7;
  }

  .p-hero-box .p-hero-box__l-col__purchase {
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #c7c7c7;
  }

  .p-hero-box__r-col__pic {
    text-align: center;
    .p-hero-box__r-col__pic__img {
      width: 60% !important;
    }
  }
}
