// fonts
@import './shared/fonts';
@import './shared/variables';

@import './shared/mixins';

//base
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: IRANSans;
  background: #efefef;
}

h1 {
  margin: 0;
}

// Components
@import './index';
@import '../components/search/search.scss';

// Pages
@import '../pages/landing.scss';