// fonts
@import './shared/fonts';
@import './shared/variables';

@import './shared/mixins';

//base
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: IRANSans;
  background: #efefef;
}

h1 {
  margin: 0;
}

// Components
@import './index';
@import '../components/landingLoading/landingLoading';
@import '../components/landingHeader/landingHeader';
@import '../components/search/search';
@import '../components/register/register';
@import '../components/credit/credit';
@import '../components/signUpModal/signUpModal';
@import '../components/signInModal/signInModal';
@import '../components/cart/cart';
@import '../components/lightMode/lightMode';
@import '../components/productHeader/productHeader';
@import '../components/productSidebar/productSidebar';
@import '../components/productHero/productHero';
@import '../components/productSuggestion/productSuggestion';
@import '../components/productItemBox/productItemBox';
@import '../components/productInfo/productInfo';
@import '../components/notifications/notifications';
@import '../components/userHeader/userHeader';
@import '../components/signOut/signOut';
@import '../components/userNav/userNav';
@import '../components/payNav/payNav';
@import '../components/userBasket/userBasket';
@import '../components/payDetails/payDetails';
@import '../components/userHistory/userHistory';
@import '../components/userWallet/userWallet';
@import '../components/userFavourites/userFavourites';
@import '../components/userCart/userCart';
@import '../components/userInfo/userInfo';
@import '../components/userAddressModal/userAddressModal';


// Pages
@import '../pages/landing.scss';
@import '../pages/product/product';
@import '../pages/shop/searchResult';
@import '../pages/account';
@import '../pages/payment';